
   
    <header id="home">


        <main id="mainText">
            <div class="spacer2"></div>
            <div class="row">
                <div class="col my-auto">
                  <h1>Build Your Own Custom Skateboard</h1>
                                  
                </div>              
            </div>           
        </main>

    </header>
