<div class="container">

    <div class="spacer4"> </div>
    <div class="adminContainer">

        <h3>Thanks for your order!</h3>


        <br>
        <img id="thankyouImg" src="/img/thankyou.jpg" alt="">

        <br>
        <br>
        <br>
        <div class="invoiceButton">
        <button id="invoiceBtn" type="submit" value="View Invoice" class="btn btn-dark">View Invoice</a></button>
        </div>
        <br>
        <h5><a href="reviews#addReview">Write a Review</a></h5>
        <br>

    </div>






    <footer>
        <div class="container">
            <div class="spacer"></div>
            <h6>This site created by Death Wobble</h6>

        </div>


    </footer>


</div>